body {
  padding: 10px;
  font-family: "Domine", sans-serif;
  color: #013A40;
}

#my-navbar {
  background-color: rgba(4, 178, 217, 0.719);
}

.auctionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.auction {
  background-color: #04B2D9;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 14px;
}

.completed {
  background-color: #013A40;
  color: gray;
  padding: 20px;
  margin: 10px;
  text-decoration: line-through;
  font-size: 14px;
}

.addAuctionElement {
  background-color: #04b2d9;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.btn {
  margin: 10px;
}

#btn-bid {
  background-color: #013A40;
  color: white;
}

.btn-edit {
  color: white;
}